{% extends "blogapp/base.html" %}
{% block main %}
    <head>
        <title>Welcome to Ruka's Blog!</title>

        <h2>My Posts:</h2>
        <ul>
        {% for post in post_list %}
            <li>
                <strong><a href="{% url 'blogapp:post_detail' post.id %}">{{ post.title }}</a></strong>
                <br>
                {{ post.author }}
                {{ post.update_date }}
            </li>
            {% endfor %}
        </ul>

        <p><a href="{% url 'blogapp:new_post' %}">Create New Post</a></p>
{% endblock %}