{% extends "blogapp/base.html" %}
{% block main %}
    <head>
        <title>ハイデッカー家の猫日記</title>

        <h2>最近の投稿:</h2>
        <ul>
        {% for post in post_list %}
            <li>
                <strong><a href="{% url 'blogapp:post_detail' post.id %}">{{ post.title }}</a></strong>
                <br>
                {{ post.author }}
                {{ post.update_date }}
            </li>
            {% endfor %}
        </ul>

        <p><a href="{% url 'blogapp:create_post' %}">新規作成</a></p>
{% endblock %}