{% extends "blogapp/base.html" %}
{% block main %}

<form method="post">
    {% csrf_token %}
    
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    
    <br>

    <label for="author">Your Name:</label>
    <input type="text" id="author" name="author" required>

    <br>

    <label for="body">Body:</label>
    <textarea id="body" name="body" rows="3" cols="30" required></textarea>

    <br>

    <input type="submit" value="Post">
</form>
{% endblock %}